.Panel
  .panel-action-button
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #00a2ae;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    margin-left: 5px;
  .max-modal-wrapper
    position: fixed
    top: 0
    right: 0
    left: 0
    bottom: 0 
    z-index: 100;
    height: 100%
    .ant-card
      height: 100%
      overflow: auto