.MainPage
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .step-content
    position: absolute;
    top: 0;
    bottom: 66px;
    left: 0;
    right: 0;
  .step-wrapper
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;  
    background: #fff;
    margin: 0 50px 0 50px;
