.HomePage
  width:100%
  display: flex;
  box-sizing: border-box;
  position: absolute
  top: 0
  bottom: 0
  background: #ececec;
  .menu-wrapper
    flex: 0 1 auto
    max-width: 256px
  .contain-wrapper
    flex: 1
    position: relative
  .loading
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #d9d9d980;
    text-align: center;
    .ant-spin
      top: 48%;
      position: relative;
