.Header
  display :flex
  height:50px 
  width: 100%
  background-color: #FFF
  box-shadow: 0 1px 3px #bfbfbf
  z-index: 10000
  .header-icon
    display: inline-block
    flex:0 0 200px
  .header-content
    flex:1
    position relative
    padding: 0 30px
    text-align: right
    .search
      float: right
      position: relative;
      top: 5px
      width :300px
      box-sizing: content-box
      margin-right: 100px
  .header-avatar
    flex: 0 0 60px