.Header
  display :flex
  height:50px 
  width: 100%
  background-color: #1890ff
  .header-icon
    display: inline-block
    flex:0 0 200px
  .header-content
    flex:1
  .header-avatar
    flex: 0 0 40px
    display: inline-block
    position:relative
    right : 20px
    height: 50px
